@font-face {
    font-family: 'Nutino-bold';
    src: url("fonts/Nunito/Nutino-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nutino-light';
    src: url("fonts/Nunito/Nutino-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nutino-regular';
    src: url("fonts/Nunito/Nutino-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair-bold';
    src: url("Playfair_Display/PlayfairDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair-regular';
    src: url("fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}