.related-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.related-products {
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__head {
        margin-bottom: 20px;
    }
}

.catallogue__product-line {
    width: 30%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    a {
        @include nutino (600, 14px, 16px, "Nutino-light");
        text-transform: uppercase;
        align-self: flex-end;
        color: $mainpink;
        transition: .2s;
        &:hover {
            color: $maingrey;
            transition: .2s;
        }
    }
    p {
        text-align: center;
        @include playfair (400, 14px, 17px);
        color: black;
        margin-bottom: 10px;
        text-transform: uppercase;
        span {
            @include nutino (600, 15px, 18px, "Nutino-light");
            margin-top: 20px;
        }
    }
}

.imgTitle {
    margin-bottom: 15px;
    img {
        border-radius: 7px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin: 20px;
}

// .catallogue__head {
//     margin-bottom: 20px;
// }
.swiper-box {
    margin-top: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}